<h1>Listing Monsters</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <th><%= sortable "name" %></th>
      <th><%= sortable "power" %></th>
      <th><%= sortable "type" %></th>
    </tr>
    <% @monsters.each do |monster| %>
      <tr>
        <td><%= monster.name %></td>
        <td><%= monster.power %></td>
        <td><%= monster.type %></td>
        <td><%= link_to 'Show', user_monster_path(@user, monster) %></td>
        <td><%= link_to 'Edit', edit_user_monster_path(@user, monster) %></td>
        <td><%= link_to 'Destroy', user_monster_path(@user, monster), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Monster', new_user_monster_path %>
<br>
<%= link_to 'Home', user_path(@user) %>
