<p id="notice"><%= notice %></p>
<div>
  <h1>Here is some info about you...</h1>
</div>
<div>
  <div>
    <ul>
      <li><strong>Name:</strong> <%= @user.name %></li>
      <li><strong>Provider:</strong> <%= @user.provider %></li>
      <li><strong>uID:</strong> <%= @user.uid %></li>
      <li><strong>Location:</strong> <%= @user.location %></li>
      <li><strong>Avatar URL:</strong> <%= @user.image_url %></li>
      <li><strong>URL:</strong> <%= @user.url %></li>
      <li><strong><%= link_to 'Teams', user_teams_path(@user) %></li>
      <li><strong><%= link_to 'Monsters', user_monsters_path(@user) %></li>
    </ul>
  </div>
</div>