<!DOCTYPE html>
<html>
<head>
  <title>Monstertest</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div>
    <div>
      <%= link_to 'Home', root_path%>
    </div>
  <div>
  <div>
    <% if current_user %>
      <li><%= image_tag current_user.image_url, alt: current_user.name %></li>
      <li><%= link_to 'Log Out', logout_path, method: :delete %></li>
    <% else %>
      <ul>
        <li><%= link_to 'Facebook', '/auth/facebook' %></li>
      </ul>
    <% end %>
  </div>
  <% flash.each do |key, value| %>
    <div>
      <%= value %>
    </div>
  <% end %>
  <%= yield %>
</body>
</html>
